# Configuration file

####################
# biome ids
####################

"biome ids" {
    I:"Alps Forest (Sub-Biome) ID"=42
    I:"Alps ID"=170
    I:"Alps Mountainside (Sub-Biome) ID"=43
    I:"Arctic ID"=171
    I:"Badlands ID"=172
    I:"Bamboo Forest ID"=173
    I:"Bayou ID"=174
    I:"Birch Forest ID"=175
    I:"Blessed Bog (Promised Land) ID"=64
    I:"Bog ID"=176
    I:"Boneyard (Nether) ID"=69
    I:"Boreal Forest ID"=177
    I:"Brushland ID"=178
    I:"Canyon ID"=179
    I:"Canyon Ravine (Sub-Biome) ID"=49
    I:"Chaparral ID"=180
    I:"Cherry Blossom Grove ID"=181
    I:"Coniferous Forest (Snow) ID"=183
    I:"Coniferous Forest ID"=182
    I:"Coral Reef (Ocean) ID"=58
    I:"Corrupted Sands (Nether) ID"=67
    I:"Crag ID"=184
    I:"Dead Forest (Snow) ID"=186
    I:"Dead Forest ID"=185
    I:"Dead Swamp ID"=187
    I:"Deadlands ID"=188
    I:"Deciduous Forest ID"=189
    I:"Desert (New) ID"=249
    I:"Dunes ID"=190
    I:"Extreme Hills (New) ID"=253
    I:"Fen ID"=191
    I:"Field ID"=192
    I:"Forest (New) ID"=250
    I:"Forested Field (Sub-Biome) ID"=40
    I:"Frost Forest ID"=193
    I:"Fungi Forest ID"=194
    I:"Garden ID"=195
    I:"Glacier ID"=196
    I:"Grassland ID"=197
    I:"Gravel Beach ID"=60
    I:"Grove ID"=198
    I:"Heathland ID"=199
    I:"Highland ID"=200
    I:"Hot Springs ID"=201
    I:"Icy Hills ID"=202
    I:"Jade Cliffs ID"=203
    I:"Jungle (New) ID"=254
    I:"Kelp Forest (Ocean) ID"=59
    I:"Lush Desert ID"=204
    I:"Lush Swamp ID"=205
    I:"Majestic Meadow (Promised Land) ID"=63
    I:"Mangrove ID"=206
    I:"Maple Woods ID"=210
    I:"Marsh ID"=211
    I:"Meadow Forest (Sub-Biome) ID"=50
    I:"Meadow ID"=212
    I:"Mesa ID"=213
    I:"Moor ID"=214
    I:"Mountain ID"=215
    I:"Mystic Grove ID"=216
    I:"Nether Base (Nether) ID"=65
    I:"Oasis ID"=217
    I:"Ominous Woods ID"=218
    I:"Orchard ID"=219
    I:"Origin Valley ID"=220
    I:"Outback ID"=221
    I:"Overgrown Beach ID"=61
    I:"Pasture ID"=222
    I:"Pasture Meadow (Sub-Biome) ID"=46
    I:"Phantasmagoric Inferno (Nether) ID"=68
    I:"Plains (New) ID"=248
    I:"Polar ID"=223
    I:"Prairie ID"=224
    I:"Quagmire ID"=225
    I:"Rainforest ID"=226
    I:"Redwood Forest ID"=227
    I:"Sacred Springs ID"=228
    I:"Savanna ID"=229
    I:"Savanna Plateau (Sub-Biome) ID"=39
    I:"Scrubland ID"=230
    I:"Seasonal Forest ID"=231
    I:"Seasonal Spruce Forest (Sub-Biome) ID"=41
    I:"Shield ID"=232
    I:"Shore ID"=233
    I:"Shrubland ID"=234
    I:"Sludgepit ID"=235
    I:"Spruce Woods ID"=236
    I:"Steppe ID"=237
    I:"Swampland (New) ID"=252
    I:"Taiga (New) ID"=251
    I:"Temperate Rainforest ID"=238
    I:"Thick Ominous Woods (Sub-Biome) ID"=47
    I:"Thick Shrubland (Sub-Biome) ID"=48
    I:"Thicket ID"=239
    I:"Thinned Pasture (Sub-Biome) ID"=45
    I:"Thinned Timber (Sub-Biome) ID"=44
    I:"Timber ID"=240
    I:"Tropical Rainforest ID"=241
    I:"Tropics ID"=242
    I:"Tundra ID"=243
    I:"Undergarden (Nether) ID"=66
    I:"Volcano ID"=244
    I:"Wasteland ID"=245
    I:"Wetland ID"=246
    I:"Wonderous Woods (Promised Land) ID"=62
    I:"Woodland ID"=247
}


####################
# block
####################

block {
    I:"Acacia Stairs ID"=1500
    I:"Altar ID"=1501
    I:"Amethyst Ore ID"=1502
    I:"Bamboo ID"=1503
    I:"Bones ID"=1504
    I:"Cherry Stairs ID"=1505
    I:"Cloud ID"=1506
    I:"Colourized Leaves ID"=1507
    I:"Colourized Sapling ID"=1508
    I:"Coral ID"=1509
    I:"Crystal ID"=1510
    I:"Dark Stairs ID"=1511
    I:"Fir Stairs ID"=1512
    I:"Flower ID"=1513
    I:"Foliage ID"=1514
    I:"Fruit Leaf Block ID"=1515
    I:"Glass ID"=1516
    I:"Grave ID"=1517
    I:"Hell Bark Stairs ID"=1518
    I:"Holy Stairs ID"=1519
    I:"Ivy ID"=1520
    I:"Jacaranda ID"=1521
    I:"Leaf Block ID 1"=1522
    I:"Leaf Block ID 2"=1523
    I:"Log Block ID 1"=1524
    I:"Log Block ID 2"=1525
    I:"Log Block ID 3"=1526
    I:"Log Block ID 4"=1527
    I:"Magic Stairs ID"=1528
    I:"Mangrove Stairs ID"=1529
    I:"Moss ID"=1530
    I:"Mud Brick Stairs ID"=1531
    I:"Mud Bricks ID"=1532
    I:"Mushroom ID"=1533
    I:"Palm Stairs ID"=1534
    I:"Petal ID"=1535
    I:"Pine Stairs ID"=1536
    I:"Planks ID"=1537
    I:"Plant ID"=1538
    I:"Promised Land Portal ID"=1539
    I:"Puddle ID"=1540
    I:"Red Brick Stairs ID"=1541
    I:"Red Cobble Stairs ID"=1542
    I:"Redwood Stairs ID"=1543
    I:"Sapling ID"=1544
    I:"Skystone Brick Stairs ID"=1545
    I:"Skystone Cobble Stairs ID"=1546
    I:"Stone Double Slab ID"=1547
    I:"Stone Single Slab ID"=1548
    I:"Tree Moss ID"=1549
    I:"Willow ID"=1550
    I:"Willow Stairs ID"=1551
    I:"Wooden Double Slab 1 ID"=1552
    I:"Wooden Double Slab 2 ID"=1553
    I:"Wooden Single Slab 1 ID"=1554
    I:"Wooden Single Slab 2 ID"=1555
}


####################
# dimension settings
####################

"dimension settings" {
    I:"Promised Land Dimension ID"=20
}


####################
# entity ids
####################

"entity ids" {
    I:"Dart ID"=104
    I:"Mudball ID"=103
    I:"Poison Dart ID"=105
}


####################
# item
####################

item {
    I:"Amethyst Axe ID"=15000
    I:"Amethyst Boots ID"=15001
    I:"Amethyst Chestplate ID"=15002
    I:"Amethyst Helmet ID"=15003
    I:"Amethyst Hoe ID"=15004
    I:"Amethyst Leggings ID"=15005
    I:"Amethyst Pickaxe ID"=15006
    I:"Amethyst Scythe ID"=15007
    I:"Amethyst Shovel ID"=15008
    I:"Amethyst Sword ID"=15009
    I:"Ancient Staff ID"=15010
    I:"Dart Blower ID"=15011
    I:"Dart ID"=15012
    I:"Diamond Scythe ID"=15013
    I:"Enderporter ID"=15014
    I:"Flower Band ID"=15015
    I:"Food ID"=15016
    I:"Gold Scythe ID"=15017
    I:"Iron Scythe ID"=15018
    I:"Misc Items ID"=15019
    I:"Mud Ball ID"=15020
    I:"Mud Scythe ID"=15021
    I:"Muddy Axe ID"=15022
    I:"Muddy Boots ID"=15023
    I:"Muddy Chestplate ID"=15024
    I:"Muddy Helmet ID"=15025
    I:"Muddy Hoe ID"=15026
    I:"Muddy Leggings ID"=15027
    I:"Muddy Music Disc ID"=15028
    I:"Muddy Pickaxe ID"=15029
    I:"Muddy Shovel ID"=15030
    I:"Muddy Sword ID"=15031
    I:"Soul Manipulator ID"=15032
    I:"Spring Water Bucket ID"=15033
    I:"Stone Scythe ID"=15034
    I:"Traversia Music Disc ID"=15035
    I:"Wood Scythe ID"=15036
}


####################
# liquid ids
####################

"liquid ids" {
    I:"Liquid Poison Still ID (ID before this must be free!)"=1556
    I:"Spring Water Still ID (ID before this must be free!)"=1557
}


####################
# mob ids
####################

"mob ids" {
    I:"Glob ID"=106
    I:"Jungle Spider ID"=101
    I:"Rosester ID"=102
}


####################
# terrain block ids - must be below 255
####################

"terrain block ids - must be below 255" {
    I:"Ash Block ID"=200
    I:"Ash Stone ID"=201
    I:"Crag Rock ID"=202
    I:"Dried Dirt ID"=203
    I:"Hard Dirt ID"=204
    I:"Hard Ice ID"=205
    I:"Hard Sand ID"=206
    I:"Holy Dirt ID"=207
    I:"Holy Grass ID"=208
    I:"Long Grass ID"=209
    I:"Mud ID"=210
    I:"Origin Grass ID"=211
    I:"Red Rock ID"=212
    I:"Skystone ID"=213
}


