# Configuration file

####################
# block
####################

block {
    I:CompactWindmill=1720
}


####################
# general
####################

general {
    # If rotors will be rendered in-game.
    B:specialRender=true
    B:useIC2Stuff=false
}


####################
# item
####################

item {
    I:rotorAlloy=17200
    I:rotorCarbon=17201
    I:rotorCloth=17202
    I:rotorIridium=17203
    I:rotorWood=17204
}


