# Configuration file

####################
# block
####################

block {
    I:block_gateID=1000
    I:block_lanternID=1001
    I:block_lightingID=1002
    I:block_machinesID=1003
    I:block_microID=1004
    I:block_wireID=1005
}


####################
# general
####################

general {
    # Enable advanced debugging, should ALWAYS be false.
    B:"Enable Debugging"=false

    # This is the distance in which players will be notified.  Lower if you experience lag.
    D:"Network Update Range"=50.0
}


####################
# item
####################

item {
    I:item_backpack=10000
    I:item_backpackID=10006
    I:item_componentsID=10001
    I:item_drawplateID=10002
    I:item_sawID=10003
    I:item_screwdriverID=10004
    I:item_turbineID=10007
    I:item_woolgin=10005
    I:item_woolginID=10008
}


####################
# modules
####################

modules {
    B:Core=true
    B:Expansion=true
    B:Illumination=true
    B:Integration=true
    B:Transmission=true
}


####################
# multipart item ids
####################

"multipart item ids" {
    I:"Gate Part ID"=10009
    I:"Inverted Lamp Part ID"=10010
    I:"Inverted Lantern Part ID"=10011
    I:"Jacketed Wire Part ID"=10012
    I:"Lamp Part ID"=10013
    I:"Lantern Part ID"=10014
    I:"Wire Part ID"=10015
}


