# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# "arrows enabled"
####################

""arrows enabled"" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=1020
    I:blockIdRope=1021
    I:blockIdRopeDJRoslin=1022
    I:blockIdZipLineAnchor=1023
}


####################
# general
####################

general {
    B:"Equipped Bow Tool Tip"=true
    B:disableBowHook=false
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=10200
    I:itemIdArrowDirt=10201
    I:itemIdArrowExplosion=10202
    I:itemIdArrowFire=10203
    I:itemIdArrowGrass=10204
    I:itemIdArrowIce=10205
    I:itemIdArrowLaser=10206
    I:itemIdArrowRope=10207
    I:itemIdArrowSlime=10208
    I:itemIdArrowTorch=10209
    I:itemIdArrowWarp=10210
    I:itemIdGrapplingHook=10211
    I:itemIdHookShot=10212
    I:itemIdHookshotCartridge=10213
    I:itemIdRope=10214
    I:itemIdRopesPlusBow=10215
}


